%h2<= "Смены водителя \"#{@person.full_name}\""
%table.table.person-shifts
  %tr
    %td
      = render(:partial => "shifts_list", :object => @shifts) if @shifts
    %td
      - if @shift
        %table
          %th< № 
          %th< Время
          %th< Машина
          %th< &nbsp;
          - @trips.each_with_index do |trip, i|
            %tr
              %td<= "#{i + 1}"
              %td<= trip.created_at.to_s(:time)
              %td<= trip.vehicle.name
              %td<= link_to "Фото", trip.image.url
