%h2<= "Смены водителя \"#{@person.full_name}\""
%table.table.person-shifts
  %tr
    %td
      - if @shifts
        %table
          %th< Дата 
          %th< Время
          %th< Pейсов
          - @shifts.each do |shift|
            %tr
              %td<= link_to_if shift.id != params[:shift_id].to_i, "#{shift.date.to_s(:short_date)}", :shift_id => shift.id
              %td<= shift.time_name
              %td<= @person.trips_count(shift)
    %td
      - if @shift
        %table
          %th< № 
          %th< Время
          %th< Машина
          %th< &nbsp;
          - @trips.each_with_index do |trip, i|
            %tr
              %td<= "#{i + 1}"
              %td<= trip.created_at.to_s(:time)
              %td<= trip.vehicle.name
              %td<= link_to "Фото", trip.image.url
