.menu {
  float: right;
  padding-right: 50px;
}
.login {
  padding: 50px 0px 0px 50px;
}
.vehicles-list {
  width: 200px;
  float: left;
  position: relative;
  padding-right: 80px;
}
.vehicles-list .vehicle .destroy {
  float: right;
}
.vehicles-list .vehicle .identifier {
  width: 30px;
  float: left;
}
.vehicle-edit {
  width: 300px;
  float: left;
}
.row label {
  float: left;
  margin-top: 5px;
  width: 70px;
}
.row input {
  margin-top: 5px;
  width: 150px;
}
.row.submit input {
  width: 80px;
}
.row {
  position: relative;
  display: block;
}

