.menu {
  float: right;
  padding-right: 50px;
}
.login {
  padding: 50px 0px 0px 50px;
}

.header {
  font-weight: bold;
}

.vehicles-list {
  width: 200px;
  float: left;
  position: relative;
  padding-right: 80px;
}
.vehicles-list .vehicle .destroy {
  float: right;
}
.vehicles-list .vehicle .identifier {
  width: 30px;
  float: left;
}
.vehicle-edit {
  width: 300px;
  float: left;
}

.row label {
  float: left;
  margin-top: 5px;
  width: 100px;
}
.row input {
  margin-top: 5px;
  width: 150px;
}
.row.submit input {
  width: 80px;
}
.row {
  position: relative;
  display: block;
  padding-bottom: 10px;
}

.shifts-list {
  width: 500px;
}

.shifts-list .time {
  width: 45px;
}

.people-list {
  width: 400px;
  float: left;
  position: relative;
  padding-right: 80px;
}
.people-list .person .name {
  width: 200px;
  float: left;
}
.people-list .person .status {
  width: 80px;
  float: left;
}

.field_with_errors input {
  border-color: red;
  border-width: 3px;
}
